.border-item-rare {
  --bs-border-color: #e2d15f;
}

.border-item-magic {
  --bs-border-color: #2d4bb7;
}

.border-item-normal {
  --bs-border-color: #9da9b2;
}

.border-item-unique {
  --bs-border-color: #cc600e;
}

[data-bs-theme="poe1"] {
  --bs-body-bg: #545454;
  --bs-body-bg-rgb: #{to-rgb(#545454)};
}

@import "bootstrap/scss/bootstrap";
