@import "bootstrap/scss/bootstrap";

// @import "bootstrap-reboot";
//

// .item-color {
//   background-color: #69747C;
// }

.item-rare {
  border-color: #e2d15f !important;
}

.item-magic {
  border-color: #2d4bb7 !important;
}

.item-normal {
  border-color: #9da9b2 !important;
}

.item-unique {
  border-color: #cc600e !important;
}

// .main-color {
//   background-color: #545454;
// }

.select-color option {
  // background-color: #545454 !important;
  // color: #000000;
}

[data-bs-theme="poe1"] {
  --bs-body-bg: #545454;
  --bs-body-bg-rgb: #{to-rgb(#545454)};
}

