<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]" data-bs-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <meta name="csp-nonce" content={get_csp_nonce()} />
    <.inertia_title>{assigns[:page_title] || "PoeSystem"}</.inertia_title>
    <.inertia_head content={@inertia_head} />
    <%!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.css" integrity="sha512-42kB9yDlYiCEfx2xVwq0q7hT4uf26FUgSIZBK8uiaEnTdShXjwr8Ip1V4xGJMg3mHkUt9nNuTDxunHF0/EgxLQ==" crossorigin="anonymous" referrerpolicy="no-referrer" /> --%>
    <%= if Application.fetch_env!(:poe_system, :mode) == :dev do %>
      <script type="module">
          import RefreshRuntime from "http://localhost:5173/assets/@react-refresh"
          RefreshRuntime.injectIntoGlobalHook(window)
          window.$RefreshReg$ = () => {}
          window.$RefreshSig$ = () => (type) => type
          window.__vite_plugin_react_preamble_installed__ = true
      </script>
      <script defer phx-track-static type="module" src="/assets/src/main.tsx" />
    <% else %>
      <link phx-track-static rel="stylesheet" href={main_css()} />
      <script defer phx-track-static type="module" src={main_js()} />
    <% end %>
  </head>
  <body>
    {@inner_content}
  </body>
</html>
